{% extends 'base.html' %} {% block body %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Personal Information</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                                        <li class="breadcrumb-item active">Personal Information</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-md-auto" style="margin: 10px;">
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="alert alert-success alert-dismissable" role="alert" id="inside_alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">&nbsp;<span aria-hidden="true">x</span></button>
                        {{message}}
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-4">

                            <div class="card-body p-4">
                                <div class="text-center mt-2">
                                    <h5 class="text-primary">Welcome Back !</h5>
                                    <p class="text-muted">{{session["username"]}}</p>
                                </div>
                                <div class="p-2 mt-4">
                                    <form action="/personal_info" method="POST" enctype="multipart/form-data">
                                        <p>* Profile Image</p>
                                        <div class="mb-3">
                                            <input type="file" name="photo_link" class="form-control" id="photo_link" autocomplete="off" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" name="name" class="form-control" id="name" placeholder="* Enter full name" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="number" name="age" class="form-control" id="age" placeholder="* Enter age" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="email" name="email" class="form-control" id="email" placeholder="* Enter email" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="number" name="phone" class="form-control" id="phone" placeholder="* Enter phone number" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" name="designation" class="form-control" id="designation" placeholder="* Enter current company designation" required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="text" name="language" class="form-control" id="language" placeholder="* Enter native language" required>
                                        </div>
                                        <p>* Resume Link</p>
                                        <div class="mb-3">
                                            <input type="file" name="resume_link" class="form-control" id="resume_link" autocomplete="off" required>
                                        </div>
                                        <div class="mb-3">
                                            <textarea class="form-control" id="description" rows="5" name="description" placeholder="* Enter your Bio" required></textarea>
                                          </div>
                                        <div class="mb-3">
                                            <textarea class="form-control" id="address" rows="3" name="address" placeholder="* Enter your address" required></textarea>
                                          </div>
                                        <div class="mt-4 text-center">
                                            <input type="submit" name="signin" id="signin" class="form-submit btn btn-success w-100" value="Submit Data"/>
                                        </div>
                                    </form><br><br><center>
                                    <a href="/education" style="color: #fff;"><p class="btn btn-primary w-20" style="color: #fff; margin-right: 20px; margin-bottom: 10px; width: 200px; border-radius: 10px;">Educations</a>
                                    <a href="/experience" style="color: #fff;"><p class="btn btn-primary w-20" style="color: #fff; margin-right: 20px; margin-bottom: 10px; width: 200px; border-radius: 10px;">Experiences</a><br>
                                    <a href="/skill" style="color: #fff;"><p class="btn btn-primary w-20" style="color: #fff; margin-right: 20px; margin-bottom: 10px; width: 200px; border-radius: 10px;">Skills</a>
                                    <a href="/social_media" style="color: #fff;"><p class="btn btn-primary w-20" style="color: #fff; margin-right: 20px; margin-bottom: 10px; width: 200px; border-radius: 10px;">Social-Media Links</a><br>
                                    <a href="/project" style="color: #fff;"><p class="btn btn-primary w-20" style="color: #fff; margin-right: 20px; margin-bottom: 10px; width: 200px; border-radius: 10px;">Projects</a>
                                    <a href="/personal_info" style="color: #fff;"><p class="btn btn-primary w-20" style="color: #fff; margin-right: 20px; margin-bottom: 10px; width: 200px; border-radius: 10px;">Personal Information</a>
                                </center></div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->

                    </div>
                </div>


                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Code Scatter.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Code Scatter
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

{% endblock %}